# Database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pemograman_kripto
DB_USER=farisalfatih
DB_PASS=ganti_dengan_password_anda

# ETL Scheduler
ETL_ENABLED=true
ETL_DEBUG_MODE=false
ETL_DEBUG_INTERVAL=5
