[Unit]
Description=Pemograman Kripto
After=network.target

[Service]
Type=simple
User=farisalfatih
WorkingDirectory=/opt/pemograman-kripto-etl
ExecStart=/opt/pemograman-kripto-etl/venv/bin/python /opt/pemograman-kripto-etl/get_data_indodax.py
Restart=always
EnvironmentFile=/opt/pemograman-kripto-etl/.env

[Install]
WantedBy=multi-user.target
